.game{
    width: 600px;
    height: 300px;
    border-bottom: 1px solid rgb(116, 103, 64);
    margin: auto;
}
#dino{
    width: 50px;
    height: 50px;
    background-image: url(img/pokemon_PNG109.png);
    background-size: 50px 50px;
    position: relative;
    top: 240px;
}
#cactus{
    width: 40px;
    height: 40px;
    background-image: url(img/Mario.jpg);
    background-size: 40px 40px;
    position: relative;
    top: 190px;
    left: 570px;
    animation: cactucMov 1s infinite linear;
}
@keyframes cactucMov {
    0%{
        left: 500px;
    }
    100%{
        left: -20px;
    }
    
}
.jump{
    animation: jump 1s linear;

}
@keyframes jump{
    0%{
        top: 150px;
    }
    30%{
        top: 130px;
    }
    50%{
        top: 80px;
    }
    80%{
        top: 130px;
    }
    100%{
        top: 150px;
    }
}